.App {
  text-align: center;
}
header{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 10vh;
  background-color: #2c2424;
  margin: 0;
}
.app_title{
  align-self: center;
  font-size: 30px;
  color: white;
}
h1{
  font-size: 25px;
}
.search{
  margin: 10px 0;
}
.search_info{
  margin: 5px 0 20px 0;
}
.displayed_games{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}
/* .game_cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */
.game_card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 250px;
  height: 250px;
  background-color: #7a7474;
  margin: 5px;
  border-radius: 10%;
}
.game_image{
  align-self: center;
  width: 100px;
}
.game_button{
  align-self: center;
  width: 100px;
}
.owned_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.owned_list_items{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 250px;
  height: 250px;
  background-color: #7a7474;
  margin: 5px;
  border-radius: 10%;
}
.remove_from_owned{
  align-self: center;
  width: 100px;
}
